<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weconnect - homepage</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="homeStyle.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>
  <body style="margin: 16px">
    <header class="homepage-header">
      <%- include("./homepage_header.ejs") %>
    </header>

    <div class="login-text">Meetings</div>
      <div class="meeting-section">
      <!-- where last 2 transcript histories goes -->
      </div>
    <div>
      <div class="login-text">Meeting Transcripts</div>
      <div class="transcript-section">
        <!-- where last 2 transcript histories goes -->
      </div>
    </div>

    <div class="button-container">
      <button
        type="button"
        class="btn meeting_btn-blue"
        data-toggle="modal"
        data-target="#newMeetingModal"
      >
      <div class="btn-detail">
        <img src="new_meeting.svg" alt="New Meeting" class="btn-icon" />
        <div class="btn-text-container">
          <p>New</p>
          <p>Meeting</p>
        </div>
      </div>
      </button>
      <button
        type="button"
        class="btn meeting_btn-purple"
        data-toggle="modal"
        data-target="#joinMeetingModal"
      >
      <div class="btn-detail">
        <img src="join_meeting.svg" alt="Join Meeting" class="btn-icon" />
        <div class="btn-text-container">
          <p>Join</p>
          <p>Meeting</p>
        </div>
      </div>
      </button>
    </div>
    
    <!-- New Meeting Modal -->
<div
class="modal fade modal-center"
id="newMeetingModal"
tabindex="-1"
role="dialog"
aria-labelledby="newMeetingModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="newMeetingModalLabel">New Meeting</h5>
      <span aria-hidden="true">
        <img src="newmeeting_close.svg" alt="closing btn" data-dismiss="modal"/>
      </span>
    </div>
    <div class="modal-body">
      <div class="align-items-center mb-3">
        <img
          class="rounded-circle"
          src="<%- loggedInUser.profilePic %>"
          alt=""
        />
      </div>
      <div class="modal-detail user-username mb-3">
        <img src="modal_username.svg" alt="user_icon">
        <p><%= loggedInUser.username %></p>
      </div>
      <form action="/createMeetingRoom" method="post">
        <input
          id="meetingIdInput"
          type="text"
          class="form-control"
          placeholder="Enter meeting name"
          name="meetingId"
          value=""
          hidden
        />
        <input
          id="userId"
          name="id"
          value="<%= loggedInUser.userId %>"
          hidden
        />
        <div class="modal-detail form-group mb-3">
          <label>Meeting Id:</label>
          <label id="lb_meetingId"></label>
        </div>
        <div class="modal-detail form-group mb-3">
          <img src="modal_audio.svg" alt="audio_icon">
          <label>Turn on Audio</label>
          <label class="switch">
            <input class="modal_checkbox" type="checkbox" name="audio" />
          </label>
        </div>
        <div class="modal-detail form-group">
          <img src="modal_video.svg" alt="video_icon">
          <label>Turn on Video</label>
          <label class="switch">
            <input class="modal_checkbox" type="checkbox" name="video" />
          </label>
        </div>
        <div class="modal-footer">
          <div class="modal_interact_btn">
            <button type="submit" class="btn btn-white new-meeting-btn">
              <p class="meetingBtn">Start Meeting</p>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <!-- Join Meeting Modal -->
    <div
      class="modal modal-center fade"
      id="joinMeetingModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="joinMeetingModalLabel"
      aria-hidden="true"
    >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newMeetingModalLabel">Join Meeting</h5>
          <span aria-hidden="true">
            <img src="newmeeting_close.svg" alt="closing btn" data-dismiss="modal"/>
          </span>
        </div>
        <div class="modal-body">
          <div class="align-items-center mb-3">
            <img
              class="rounded-circle"
              src="<%- loggedInUser.profilePic %>"
              alt=""
            />
          </div>
          <div class="modal-detail user-username mb-3">
            <img src="modal_username.svg" alt="user_icon">
            <p><%= loggedInUser.username %></p>
          </div>
          <form action="/joinMeeting" method="POST">
            <div class="modal-detail form-group mb-3">
              <label class="meetingId">Meeting Id: </label>
                <input
                  id="meetingIdInputForJoin"
                  name="meetingId"
                  class="form-control input-join form-group m-0"
                  placeholder="Enter meeting Id"
                  required
                />
            </div>
            <div class="modal-detail form-group mb-3">
              <img src="modal_audio.svg" alt="audio_icon">
              <label>Turn on Audio</label>
              <label class="switch">
                <input class="modal_checkbox" type="checkbox" name="audio" />
              </label>
            </div>
            <div class="modal-detail form-group">
              <img src="modal_video.svg" alt="video_icon">
              <label>Turn on Video</label>
              <label class="switch">
                <input class="modal_checkbox" type="checkbox" name="video" />
              </label>
            </div>
            <div class="modal-footer">
              <div class="modal_interact_btn">
                <button type="submit" class="btn btn-white new-meeting-btn">
                  <p class="meetingBtn">Join Meeting</p>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>

    <footer><%- include("./homepage_footer.ejs") %></footer>
    <script src="homepage.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>

