<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weconnect - homepage</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>
  <body style="margin: 16px">
    <header class="homepage-header">
      <%- include("./homepage_header.ejs") %>
    </header>

    <div class="login-text">Today's Meeting</div>

    <div class="login-text">Meeting Transcripts</div>

    <div class="button-container">
      <button
        type="button"
        class="btn meeting_btn-blue"
        data-toggle="modal"
        data-target="#newMeetingModal"
      >
        <img src="new_meeting.svg" alt="New Meeting" class="btn-icon" />
        <p>New Meeting</p>
      </button>
      <button
        type="button"
        class="btn meeting_btn-purple"
        data-toggle="modal"
        data-target="#joinMeetingModal"
      >
        <img src="join_meeting.svg" alt="Join Meeting" class="btn-icon" />
        <p>Join Meeting</p>
      </button>
    </div>

    <!-- New Meeting Modal -->
    <div
      class="modal fade"
      id="newMeetingModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="newMeetingModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-fullscreen-sm-down" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newMeetingModalLabel">New Meeting</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">
                <img src="newmeeting_close.svg" alt="closing btn" />
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="d-flex align-items-center mb-3">
              <img
                class="rounded-circle"
                style="width: 48px; height: 48px; margin-right: 8px"
                src="profile.jpg"
                alt=""
              /><%= loggedInUser.username %>
            </div>
            <div class="form-group mb-3">
              <div class="form-group mb-3">
                <label>Meeting Id</label>
                <label id="lb_meetingId"></label>
              </div>
              <div class="form-group mb-3">
                <label>Turn on Audio</label>
                <label class="switch"> <input type="checkbox" /> </label>
              </div>
              <div class="form-group mb-3">
                <label>Turn on video</label>
                <label class="switch"> <input type="checkbox" /> </label>
              </div>
            </div>
            <div class="modal-footer">
              <form action="/meeting" method="get">
                <input
                  id="meetingIdInput"
                  type="text"
                  class="form-control"
                  placeholder="Enter meeting name"
                  name="meetingId"
                  value=""
                  hidden
                />
                <input
                  id="userId"
                  name="id"
                  value="<%=loggedInUser.userId %>"
                 hidden
                />
                <button type="submit" class="btn btn-primary new-meeting-btn">
                  Start Meeting
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Join Meeting Modal -->
    <div
      class="modal modal-center fade"
      id="joinMeetingModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="joinMeetingModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="joinMeetingModalLabel">Join Meeting</h5>
            <button
              type="submit"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Meeting details go here.</div>
          <div class="modal-footer">
            <form action="/meeting" method="get">
                <div class="form-group mb-3">
                <label>Meeting Id :</label>
                <input
                  id="meetingIdInputForJoin"
                  name="meetingId"
                  class="form-group"
                  placeholder="Enter meeting Id"
                  required
                />
            </div>
                <input
                  id="userId"
                  name="id"
                  class="form-control"
                  value="<%=loggedInUser.userId %>"
                 hidden
                />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Join</button>
              </form>
          </div>
        </div>
      </div>
    </div>

    <footer><%- include("./homepage_footer.ejs") %></footer>
    <script src="homepage.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
